/**** Importation de la police Oswald ****/

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
/**** Reset ****/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
}

/**** Style général de la page ****/

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Oswald", serif;
    background-color: #f8f9ff;
}

header,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    line-height: 1.4;
}

.main__content {
    max-width: 600px;
    width: 100%;
    padding: 15px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    border: 2px solid #3784f8;
    border-radius: 15px;
}

.card {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
}

.card__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 15px;
}

.user__image {
    width: 200px;
    height: 200px;
    border-radius: 50%;

}

.user__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.596);
}

.user__age,
.card span,
.card a {
    margin-top: 18px;
}

.user__age {
    display: block;
}

.card a {
    color: #000000;
    transition: color 0.3s ease-in-out;
}

.card a:hover {
    color: #0fcdef;
}

.card a i {
    padding-right: 2px;
}

.generate {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.generate__btn {
    background-color: #3784f8;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    padding: 15px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 15px;
    transition: background-color 0.3s ease-in-out;
}

.generate__btn:hover {
    background-color: #0fcdef;
}

footer span {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}